@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.heading {
    color:#E11299;
}
.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #322c2c;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.display-box {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #ffffff;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}
#btn {
    background-color: #ee6449;
}
input[type=button] {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #7c0dec;
    color: rgb(246, 250, 249);
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}
input:active[type=button] {
    background: #2e2c2c;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #dbe3e5;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
.footer {
    color:#060608;
}
footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding: 28px;
    background-color: #3bbd64;
    color: rgb(40, 33, 33);
    margin-top: auto;
    clear: both;
  }